{% extends './manderson-model.html' %}
{% block title %} {{ error }} {% endblock %}
{% block head %}
<link rel="alternate icon" type="image/png" href="public/img/manderson64.png">
<link rel="stylesheet" type="text/css" href="public/page/assets/css/amazeui.min.css"/>
{% endblock  %}
{% block content %}
<!-- content start -->
<div class="admin-content">
  <div class="admin-content-body" style="padding-bottom:100px;">
    <div class="am-cf am-padding am-padding-bottom-0">
    </div>
    <div class="am-g">
      <div class="am-u-sm-12">
        <h2 class="am-text-center am-text-xxxl am-margin-top-lg" style="text-align: center;">404. Not Found</h2>
      <pre class="page-404" style="background-color:#fff;text-align: center;border:0px;">
        .----.
     _.'__    `.
 .--($)($$)---/#\
.' @          /###\
:         ,   #####
`-..__.-' _.-\###/
      `;_:    `"'
    .'"""""`.
   /,  ya ,\\
  //  404!  \\
  `-._______.-'
  ___`. | .'___
 (______|______)
    manderson
      </pre>
      </div>
    </div>
  </div>

  <footer class="admin-content-footer">
    <hr>
    <p class="am-padding-left" style="text-align:center;">© 2019 Manderson, Inc. Licensed under MIT license.</p>
  </footer>
</div>
<!-- content end -->
{% endblock %}
